
            <div class="searchtab">
              <div class="flex">
                <ul class="nav nav-tabs tabbasesearch">
                  <li class="active"><a data-toggle="tab" class="text-white tabsearch" href="#home">{{"payget"| translate}}</a></li>
                  <li><a data-toggle="tab" class="text-white tabsearch" href="#menu1">  {{"rent"| translate}}</a></li>
                  <li><a data-toggle="tab" class="text-white tabsearch3" href="#menu2"> {{"rezerv"| translate}}</a></li>
                </ul>
                <div class="tab-content">
                  <div id="home" class="tab-pane fade in active">
                    <form   style="display: flex;">
                      <div class="row search">
                        <div class="col-md-3">
                          <select  [(ngModel)]="selectedMonth" class="form-control"  #month name="month" required  >
                            <option [ngValue]="null" [disabled]="true" >استان</option>
                            <option value="1">January</option>
                   </select>
                        </div>
                        <div class="col-md-3">
                          <select  [(ngModel)]="selectedMonth" class="form-control" #month name="month" required  >
                            <option [ngValue]="null" [disabled]="true" >شهر</option>
                            <option value="1">January</option>
                   </select>
                        </div>
                        <div class="col-md-3">
                          <select  [(ngModel)]="selectedMonth" class="form-control" #month name="month" required  >
                            <option [ngValue]="null" [disabled]="true" >منطقه</option>
                            <option value="1">January</option>
                   </select>
                        </div>
                        <div class="col-md-3  bybuton">
                          <div class="besidebutton"> </div>
                          <div><button type="submit" class="form-control" >جستجو</button>	 </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div id="menu1" class="tab-pane fade">
                    <form   style="display: flex;">
                      <div class="row search">
                        <div class="col-md-3">
                          <select  [(ngModel)]="selectedMonth" class="form-control"  #month name="month" required  >
                            <option [ngValue]="null" [disabled]="true" >استان</option>
                            <option value="1">January</option>
                   </select>
                        </div>
                        <div class="col-md-3">
                          <select  [(ngModel)]="selectedMonth" class="form-control" #month name="month" required  >
                            <option [ngValue]="null" [disabled]="true" >شهر</option>
                            <option value="1">January</option>
                   </select>
                        </div>
                        <div class="col-md-3">
                          <select  [(ngModel)]="selectedMonth" class="form-control" #month name="month" required  >
                            <option [ngValue]="null" [disabled]="true" >منطقه</option>
                            <option value="1">January</option>
                   </select>
                        </div>
                        <div class="col-md-3  bybuton">
                          <div class="besidebutton"> </div>
                          <div><button type="submit" class="form-control" >جستجو</button>	 </div>
                        </div>
                      </div>
                    </form>
                 </div>
                <div id="menu2" class="tab-pane fade">
                  <form   style="display: flex;">
                    <div class="row search">
                      <div class="col-md-2">
                        <select  [(ngModel)]="selectedMonth" class="form-control"  #month name="month" required  >
                          <option [ngValue]="null" [disabled]="true" >مقصد</option>
                          <option value="1">January</option>
                 </select>
                      </div>
                      <div class="col-md-3">
                        <select  [(ngModel)]="selectedMonth" class="form-control" #month name="month" required  >
                          <option [ngValue]="null" [disabled]="true" >تاریخ رفت</option>
                          <option value="1">January</option>
                 </select>
                      </div>
                      <div class="col-md-3">
                        <select  [(ngModel)]="selectedMonth" class="form-control" #month name="month" required  >
                          <option [ngValue]="null" [disabled]="true" >تاریخ برگشت</option>
                          <option value="1">January</option>
                 </select>
                      </div>
                      <div class="col-md-4  bybuton">
                        <div class="besidebutton3">
                          <select  [(ngModel)]="selectedMonth" class="form-control" #month name="month" required  >
                            <option [ngValue]="null" [disabled]="true" >تعداد نفرات</option>
                            <option value="1">January</option>
                   </select>
                           </div>
                        <div><button type="submit" class="form-control rest" >جستجو</button>	 </div>
                      </div>
                    </div>
                  </form>
                </div>
                </div>
                        
              </div>
            
                </div>
