
    <!-- <tabs>
        <tab tabTitle="Foo">
          I am the foo content
        </tab>
        <tab tabTitle="Bar">
          I am the bar content
        </tab>
    <tabs> -->
        
       


   <div class="row">
    <div class="col-sm-12 col-md-6">

            <div class="loginfirst">
              <ul class="nav nav-tabs tablogin">
                <li class="active"><a data-toggle="tab" class="text-secondary" href="#home">{{"vorod"| translate}}</a></li>
                <li><a data-toggle="tab" class="text-secondary" href="#menu1"> &nbsp;|&nbsp; {{"sabt"| translate}}</a></li>
              </ul>
              <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
 
  <div class="form-group">
  
    <input type="text" class="form-control styleradus"  placeholder="ایمیل" id="username"
           required
         name="username">
  </div>
  <div class="form-group">

    <input type="text" class="form-control styleradus" placeholder="رمز عبور" id="username"
           required
        name="username">
  </div>
  <div class="form-group">
    <a class="sometext">فراموشی رمز عبور؟</a>
  </div>
  <div class="form-group">
    <button  class="form-control stylesabt" type="submit">{{"vorod"| translate}}</button>
  </div>

</div>
<div id="menu1" class="tab-pane fade">
  <div class="form-group">

    <input type="text" class="form-control styleradus" placeholder="رمز عبور" id="username"
           required
        name="username">
  </div>
  <div class="form-group">
    
    <input type="text" class="form-control styleradus"  placeholder="نام خانوادگی" id="username"
           required
         name="username">
  </div>
  <div class="form-group">
  
    <input type="text" class="form-control styleradus"  placeholder="ایمیل" id="username"
           required
         name="username">
  </div>
  <div class="form-group" style="margin-bottom: 0px;">

    <input type="text" class="form-control styleradus" placeholder="رمز عبور" id="username"
           required
        name="username">
  </div>
  <div >
    <span class="sometext">ثبت نام به معنی قبول قوانین و مقررات است</span>
  </div>
  <div class="form-group">
  <button  class="form-control stylesabt" type="submit">{{"sabt"| translate}}</button>
  </div>
  
</div>
              </div>
                      
                   </div>
                   <div class="welcome">به ملک مارکت خوش آمدید</div>
                  </div>
                       <div class=" sm-hidden col-md-6"></div>
                    
                    </div>                   
  