@model  BomoBana.Areas.Admin.DetailStaticPageDto
<div id="DetailPageLoad" class="modal fade in" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 650px!important;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">جزئیات صفحه</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <h4 class="card-title">@Model.PageTitle</h4>
                    <h6 class="card-subtitle mb-2 text-muted" style="margin: 15px auto;">@Model.Caption</h6>
                    <p class="card-text" style="margin-top: 20px;text-align: justify;">
                        @Html.Raw(Model.Content)
                    </p>
                    <a href="@Model.Url" target="_blank" class="card-link">مشاهده در سایت</a>
                </div>               
            </div>    
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">انصراف</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


