@model  BomoBana.Areas.Admin.EditStaticPageDto
@{
    ViewData["Title"] = "ویرایش صفحه" ;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <form class="form-horizontal striped-rows b-form needs-validation" novalidate enctype="multipart/form-data"
                  asp-action="Edit" asp-controller="StaticPage" asp-area="Admin" asp-route-Id="@Model.Id">
                <div class="card-body">
                    <h4 class="card-title">ویرایش صفحه @Model.PageTitle</h4>
                    <div class="form-group row">
                        <div asp-validation-summary="ModelOnly"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <div class="b-label">
                                <label asp-for="PageTitle" class="control-label col-form-label"></label>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" asp-for="PageTitle" class="form-control" placeholder="عنوان">
                            <span asp-validation-for="PageTitle"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <div class="b-label">
                                <label asp-for="Caption" class="control-label col-form-label"></label>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <textarea type="text" style="height:150px" asp-for="Caption" class="form-control"></textarea>
                            <span asp-validation-for="Caption"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <div class="b-label">
                                <label asp-for="Content" class="control-label col-form-label"></label>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <textarea type="text" asp-for="Content" style="height:150px" class="form-control"></textarea>
                            <span asp-validation-for="Content"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <div class="b-label">
                                <label asp-for="Url" class="control-label col-form-label">Url</label>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" asp-for="Url" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <div class="b-label">
                                <label asp-for="IsActive" class="control-label col-form-label"></label>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" checked asp-for="IsActive" type="checkbox">
                                <label class="form-check-label" asp-for="IsActive">  فعال / غیرفعال  </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <div class="b-label">
                                <label asp-for="Keywords" class="control-label col-form-label">کلمات کلیدی</label>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" asp-for="Keywords" class="form-control" placeholder="">
                            <span asp-validation-for="Keywords"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <div class="b-label">
                                <label asp-for="DescriptionSeo" class="control-label col-form-label">توضیحات برای موتور جستجو</label>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <textarea type="text" asp-for="DescriptionSeo" style="height:150px" class="form-control" placeholder=""></textarea>
                            <span asp-validation-for="DescriptionSeo"></span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="card-body">
                    <div class="form-group m-b-0 text-right">
                        <button type="submit" class="btn btn-info waves-effect waves-light">ذخیره</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/Admin/js/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Admin/js/ToastrNotification.js"></script>
    <script src="~/Admin/js/AjaxRequest.js"></script>
    <script src="https://cdn.ckeditor.com/4.9.0/full-all/ckeditor.js"></script>
    <script>
   CKEDITOR.replace('Content', {
            language: 'fa',
            contentsLangDirection: 'rtl'

        });
    </script>
}
