<div class="app" dir="rtl">
  <header class="container">
    <nav *ngIf="home" class="navbar navbar-expand-lg navbar-light colorgray navmenu">
      <a class="navbar-brand" href="#"> <img class="logo responsivemenu"  src="../assets/img/logo.png"/></a>
      <button class="navbar-toggler responsivemenu" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" (click)="buy()" routerLink="/buyandrent">{{"payget"| translate}} <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="buy()" routerLink="/buyandrent">{{"rent"| translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " (click)="rezerv()" routerLink="/rent">{{"rezerv"| translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"   routerLink="/signin">{{"login"| translate}}</a>
            <!-- <button  *ngIf="auth.isLoggedIn()" (click)="auth.logout()">Logout</button> -->
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/sbmitbuyandrent">{{"freeintertainment"| translate}}</a>
          </li>
        </ul>
      </div>
    </nav>
    <nav *ngIf="buyitem"  class="navbar navbar-expand-lg navbar-light colorgreen navmenu">
      <a class="navbar-brand" href="#"> <img class="logo responsivemenu"  src="../assets/img/logo.jpg"/></a>
      <button class="navbar-toggler responsivemenu" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" (click)="buy()" routerLink="/buyandrent">{{"payget"| translate}} <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="buy()" routerLink="/buyandrent">{{"rent"| translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " (click)="rezerv()" routerLink="/rent">{{"rezerv"| translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"   routerLink="/signin">{{"login"| translate}}</a>
            <!-- <button  *ngIf="auth.isLoggedIn()" (click)="auth.logout()">Logout</button> -->
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/sbmitbuyandrent">{{"freeintertainment"| translate}}</a>
          </li>
        </ul>
      </div>
    </nav>
    <nav *ngIf="rezervitem"   class="navbar navbar-expand-lg navbar-light colororang navmenu">
      <a class="navbar-brand" href="#"> <img class="logo responsivemenu"  src="../assets/img/logoorang.jpg"/></a>
      <button class="navbar-toggler responsivemenu" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" (click)="rezerv()" routerLink="/rent">{{"rezvila"| translate}}<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="rezerv()" routerLink="/rent">{{"rezhotel"| translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " (click)="buy()" routerLink="/buyandrent">{{"getrentpay"| translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  *ngIf="!user" routerLink="/signin">{{"login"| translate}}</a>
            <a class="nav-link" *ngIf="user"  routerLink="/profile">welcom</a>
            <!-- <button  *ngIf="auth.isLoggedIn()" (click)="auth.logout()">Logout</button> -->
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/submitrent">{{"freeintertainment"| translate}}</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main class="container">
    <router-outlet></router-outlet>
  </main>
 
  <footer>
    <div class="footer">
      
        <div class="container">
          <div class="row botom">
           
              <div class="col-xs-12 col-md-2">
                <ul class="footermenu">
                  <li><a  class="text-white" href="#"> درباره ملک مارکت</a></li>
                  <li><a  class="text-white" href="#"> بلاگ</a></li>
                  <li><a  class="text-white" href="#"> نقشه سایت</a></li>
                  <li><a  class="text-white" href="#">فرصت های شغلی</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-md-2">
                <ul class="footermenu">
                  <li><a  class="text-white" href="#"> راهنمای مشتریان</a></li>
                  <li><a  class="text-white" href="#"> سوالات متداول</a></li>
                  <li><a  class="text-white" href="#"> قوانین و مقررات</a></li>
                  <li><a  class="text-white" href="#">سیاست حفظ حریم شخصی</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-md-1 ">
                <ul class="footermenu endfooter">
                  <li><a  class="text-white" href="#"> خدمات مشتریان</a></li>
                  <li><a  class="text-white" href="#"> ارسال پیشنهادات</a></li>
                  <li><a  class="text-white" href="#"> پشتیبانی 24 ساعته</a></li>
                  <li><a  class="text-white" href="#"> قیمت خودرو</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-md-3">
                <div class="ertebat">{{"ertebat"| translate}}</div>
                <ul class="conectus">
                  <li><a  class="text-white" href="#"> &nbsp;<span class="fa fa-instagram fa-2x"></span></a></li>
                  <li><a  class="text-white" href="#"> &nbsp;<span class="fa fa-instagram fa-2x"></span></a></li>
                  <li><a  class="text-white" href="#"> &nbsp;<span class="fa fa-twitter fa-2x"></span></a></li>
                  <li><a  class="text-white" href="#"> &nbsp;<span class="fa fa-instagram fa-2x"></span></a></li>
                  <li><a  class="text-white" href="#"> &nbsp;<span class="fa fa-instagram fa-2x"></span></a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-md-2">
                <ul class="appmobile">
                  <li><a  class="text-white" href="#"><img class="imgs" src="../assets/img/google.jpg"/></a></li>
                  <li><a  class="text-white" href="#"><img class="imgs"src="../assets/img/iphone.jpg"/></a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-md-2">
                <a  class="text-white" href="#"> <img class="namad"src="../assets/img/etemad.jpg"/></a>
              </div>
          </div>
         
        </div>
    
    </div>
    <div class="bootemfooter">{{"bootom"| translate}} </div>
  </footer>

</div>